* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial,sans-serif;
}

@font-family {
   font-family:'Lucida Sans Unicode';
   src: url(../fonts/'Lucida Sans Unicode Regular.ttf');
}

.wrap {
   margin-left: 45px;
   margin: right: 46px;
   border-right: 1px solid black;
}

.countainer {
   width: 1000px;
   height: 1310px;
   background-image: url(../img/background.png);
   border: 1px solid #eee;
}

.number {
   float: left;
   font-size: 18px;
   font-family: Arial;
   color: #5e696d;
   line-height: 25px;
   font-weight: normal;
   margin-left: 50px;
   padding-right: 18px;
}
.number a {
   text-decoration: none;
   color: #5e696d;
   line-height: 25px;
}

.number:before {
   content: " ";
   background-image: url(../img/phone.png);
   background-repeat: no-repeat;
   padding-left: 15px;
   padding-right: 5px;
   background-size: 20px;
}

.photo  {
   border: 1px solid #bdc4c7;
   border-radius: 90px;
   width: 77px;
   height: 21px;
   text-align: center;
   margin-right: 54px;
   margin-top: 6px;
   margin-left: 5px;
   float: right;
   position: relative;
   top: -40px;
}

.photo img {
   margin-top: 3px;
}

header {
   margin-top: 20px;
   line-height: 5px;
}

.second {
   margin-left: 42px;
   margin-right: 46px;
   position: relative;
   top: -26px;
}

span {
   font-size: 12px;
   line-height: 28px;
   color: white;
   padding-left: 10px;
}
.enter a  {
   color: white;
   text-decoration: none;
}

.forma {
   background-image: url(../img/header1.png);
   background-repeat: no-repeat;
   background-position: right;
   margin-right: 143px;
   padding-left: 70px;
   margin-bottom: 6px;
}


[type="text"],
[type="password"] {
   width: 115px;
   height: 18px;
   border: 1px solid #9ba1a3;
   padding-top: 1px;
   padding-bottom: 0;
   padding-left: 3px;
}

[type="text"] {
   margin-left: 40px;
}

.parol {
   text-decoration: underline;
}

.enter {
   padding-left: 3px;
   font-family: 'Lucida Sans Unicode', Arial,sans-serif;
}

.cheked {
   border-left: 1px solid white;
   text-decoration: none;
   padding-right: 15px;
   padding-top: 10px;
}

.third {
   margin-left: 43px;
   margin-right: 46px;
   margin-top: -20px;
}

.nav {
   border-radius: 4px;
   height:34px;
   width: 912px;
   background-image: linear-gradient(to top, black 0%, #576068 100%);
   box-shadow: 1.5px 2.6px 5px rgba(0,0,0,0.75);
}

ul {
   list-style-type: none;
   overflow: hidden;
   padding-left: 120px;
}

li {
   float: left;
}


li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 14px;
   padding-bottom: 5px;
}


.chaked a:hover {
   background-image: url(../img/company.png);
   background-repeat: no-repeat;
   background-position: center;
   margin-top: 4px;
}



.nav p {
   font-size: 11px;
   font-family: Arial;
   float: right;
}

.nav .one {
   color: #929b9f;
   font-size: 11px;
}

.nav .two {
   color: #0d5a8f;
   font-size: 12px;
}


.count {
   padding-right: 10px;
   background-image: url(../img/buy.png);
   background-repeat: no-repeat;
   background-position: left;
   padding-left: 15px;
}

.person img {
   position: relative;
   bottom: 308px;
   left: 320px;
}

.part {
   width: 415px;
   height: 134px;
   background-color: white;
   border: 1px solid #9c9c9d;
   border-radius: 17px;
   float: left;
   margin-left: 52px;
   margin-right: 10px;
   box-shadow: 2.6px 4.3px 5px rgba(150,150,150,0.75);
}

.part2 {
   width: 193px;
   height: 137px;
   background-color: white;
   border: 1px solid #9c9c9d;
   border-radius: 17px;
   float: left;
   box-shadow: 2.6px 4.3px 5px rgba(150,150,150,0.75);
   position: absolute;
   top: 344px;
   left: 478px;
}


.part3 {
   width: 268px;
   height: 136px;
   background-color: white;
   border: 1px solid #9c9c9d;
   border-radius: 14px;
   float: right;
   margin-right: 51px;
   box-shadow: 2.6px 4.3px 5px rgba(150,150,150,0.75);
   position: absolute;
   top: 344px;
   left: 680px;
}

.main {
   margin-top: -5px;
}

.part p {
   font-size: 10px;
   color: #154468;
   text-align: center;
   font-weight: bold;
   margin-top: -7px;
}

.part .bold {
   color: #154468;
   font-size: 12px;
   font-weight: 900;
   padding-left: 80px;
   padding-right: 80px;
}

.left p {
   width: 120px;
   margin: -1px;
   margin-left: 5px;
   text-align: justify;
   font-size: 10px;
   margin-bottom: 2px;
   margin-right: 5px;
   padding: 1px;
}

.left p:nth-child(odd) {
   font-size: 8px;
   color: #77858b;
}

.left p:nth-child(even) {
   font-size: 10px;
   color: black;
}

.part2 h4 {
   font-family: Arial;
   font-size: 12px;
   color: #114165;
   padding-left: 10px;
   margin-top: -3px;
}

.left em {
   font-size: 10px;
   color: black;
   font-style: normal;
   line-height: 5px;
}

.middle p {
   font-family:'Lucida Sans Unicode', Arial,sans-serif;
   font-size: 10px;
   color: black;
}

.left {
   margin-left: 10px;
}
 
.left1 select {
   width: 101px;
   height: 17px;
   margin: 3px;
   display: block;
   position: relative;
   bottom: 80px;
   left: 95px;
   background-color: white;
   box-shadow: inset 0.5px 0.9px 1px rgba(0,0,0,0.75);
}

.left1 select:nth-child(3) {
   width: 57px;
}

.right p{
   width: 120px;
   margin: -1px;
   margin-left: 20px;
   text-align: justify;
   font-size: 10px;
   margin-bottom: 2px;
   margin-right: 5px;
   padding: 1px;
}

.right em {
   font-size: 10px;
   color: black;
   font-style: normal;
   line-height: 5px;
}

.right p:nth-child(odd) {
   font-size: 8px;
   color: #77858b;
}
.right p:nth-child(even) {
   font-size: 10px;
   color: black;
   font-weight: bold;
}

.right1 select {
   width: 101px;
   height: 17px;
   margin: 3px;
   display: block;
   position: relative;
   bottom: 80px;
   left: 95px;
   background-color: white;
   box-shadow: inset 0.5px 0.9px 1px rgba(0,0,0,0.75);
}

.right1 select:nth-child(3) {
   width: 57px;
}


.second1 {
   position: relative;
   left: 250px;
   bottom: 112px;
}

.last {
   position: relative;
   bottom: 67px;
   left: 162px;
   font-size:14px;
   font-family: Arial;
   font-style: italic;
   color: #154467;
   text-decoration: underline;
}

.middle {
   float: left;
   line-height: 19px;
   padding-left: 10px;
}

.middle1 {
   position: relative;
   bottom: 60px;
   left: 48px;
   line-height: 25px;
}

.middle1 select {
   width: 51px;
   height: 17px;
   background-color: white;
}

.middle1  select {
   box-shadow: inset 0.5px 0.9px 1px rgba(0,0,0,0.75);
}

.part2 p:nth-child(2) {
   padding-left: 30px;
}

.input1 {
   line-height: 5px;
   margin-top: -1px;
}

.part2 {
   line-height: 25px;
}

.last1 {
   position: relative;
   bottom: 63px;
   left: 120px;
   font-size:14px;
   font-family: Arial;
   font-style: italic;
   color: #154467;
   text-decoration: underline;
}

.select select{
   width: 52px;
   height: 17px;
   position: relative;
   left: 7px;
   bottom: 3px;
   background-color: white;
   box-shadow: inset 0.5px 0.9px 1px rgba(0,0,0,0.75);
}

.select:before {
   content: "/";
   padding-left: 58px;
   padding-top: 10px;
}

.input1 [type="checkbox"] {
   background-color: white;
}

.input1 {
   padding-bottom: 3px;
}

.part3 h4 {
   font-size: 12px;
   font-family: Arial;
   color: #114165;
   padding-left: 7px;
   padding-bottom: 5px;
}

.part3 p {
   font-size: 10px;
   font-family:'Lucida Sans Unicode', Arial,sans-serif; 
   color: black;
   padding-left: 14px;
   line-height: 11px;
}

.part3 p:nth-child(4) {
   font-size: 9px;
   color: #77858b;
}

.part3 p:nth-child(5) {
   font-size: 9px;
   color: #77858b;
}

.part3 p:nth-child(7) {
   font-size: 9px;
   color: #77858b;
}

.part3 p:nth-child(8) {
   font-size: 9px;
   color: #77858b;}

.part3 p:nth-child(9) {
   font-size: 9px;
   color: #77858b;
}

.part3 em {
   font-style: normal;
   font-size: 9px;
   color: #77858b;
}

.midd {
   position: relative;
   bottom: 95px;
   left: 99px;
}

 [name="numbers1"] {
   display: block;
   padding-top: 10px;
   margin: 5px;
}

.middle1 [name="numbers"] {
   display: block;
   margin: 5px;
   margin-right: -2px;
   margin-top: 1px;
}

.midd select {
   width: 52px;
   height: 17px;
   background-color: white;
   box-shadow: inset 0.5px 0.9px 1px rgba(0,0,0,0.75);
   margin: 5px;
   margin-top: 9px;
}

.midd1 {
   position: relative;
   bottom: 90px;
   left: 80px;
   border-left: 1px solid grey;
}

.midd1 {
   padding-left: 1px;
   margin-top: -9px;
   margin: -3px;

}

.midd1 p:nth-child(2) {
   font-size: 8px;
   color: #77858b;
}

.midd1 p:nth-child(3) {
   font-size: 8px;
   color: #77858b;
}

.midd1 p:nth-child(4) {
   font-size: 8px;
   color: #77858b;
}

.midd1 p {
   line-height: 8px;
}

.midd1 p:nth-child(6) {
   font-size: 10px;
   color: black;
}

.midd1 select {
   margin-left: 8px;
}

.last3 {
   position: relative;
   bottom: 183px;
   left: 187px;
   font-family: Arial;
   font-style: italic;
   color: #154467;
   text-decoration: underline;
}

aside {
   float: left;
   width: 200px;
   margin-top: -817px;
   margin-left: 46px;
}

aside h4 {
   width: 183px;
   height: 27px;
   font-size: 13px;
   font-family: 'Lucida Sans Unicode', Arial,sans-serif;
   color: #114165;
   background-color: white;
   border: 1px solid #79878d;
   border-radius: 17px;
   box-shadow: 1.5px 2.6px 3px rgba(150,150,150,0.75);
   padding-left: 18px;
   text-align: center;
   padding-top: 4px;
   margin-bottom: 18px;
}

aside p {
   width: 150px;
   height: 28px;
   font-size: 14px;
   color: #114165;
   background-color: white;
   border-radius: 17px;
   border: 1px solid #79878d;
   box-shadow: 1.5px 2.6px 3px rgba(150,150,150,0.75);
   padding-left: 30px;
   line-height: 15px;
   margin-top: 6px;
   padding-top: 5px;
}

aside .bolts {
   margin-bottom: 6px;
}

.shunu_item a {
   font-size: 13px;
   font-family: 'Lucida Sans Unicode', Arial,sans-serif;
   color: #465961;
   font-weight: bold;
   margin-left: -100px;
   line-height: 4px;
   padding: 10px;

}
.disks_item a {
   font-size: 13px;
   font-family: 'Lucida Sans Unicode', Arial,sans-serif;;
   color: #0c3256;
   margin-left: -100px;
   line-height: 4px;
   padding: 10px;
}

.bolts_item a {
   font-size: 13px;
   font-family: 'Lucida Sans Unicode', Arial,sans-serif;
   color: #465961;
   margin-left: -100px;
   line-height: 4px;
   padding: 10px;
}

.shunu_item a:hover {
   font-style: italic;
   text-decoration: underline;
   font-family: Arial;
   font-weight: bold;
}

.disks_item a:hover {
   font-style: italic;
   text-decoration: underline;
   font-family: Arial;
   font-weight: bold;
}

.bolts_item a:hover {
   font-style: italic;
   color: #0c3256;
   text-decoration: underline;
   font-family: Arial;
   font-weight: bold;
}

.content {
   width: 526px;
   position: relative;
   bottom: 814px;
   left: 235px;
}

.disks_item a:before {
   content: "  ";
   background-image: url(../img/circles.png);
   background-size: 7px;
   background-repeat: no-repeat;
   background-position: center;
   padding: 7px;
}


.shunu_item a:before {
   content: "  ";
   background-image: url(../img/circles.png);
   background-size: 7px;
   background-repeat: no-repeat;
   background-position: center;
   padding: 7px;
}

.bolts_item a:before {
   content: "  ";
   background-image: url(../img/circles.png);
   background-size: 7px;
   background-repeat: no-repeat;
   background-position: center;
   padding: 7px;
}

.car {
   width: 139px;
   height: 129px;
   border: 1px solid #a4aeb1;
   border-radius: 5px;
   background-color: white;
   text-align: center;
   margin-right: 4px;
}

figure img {
   background-color: #FFF;
   padding: 4px;
}

figcaption {
   font-family:'Lucida Sans Unicode', Arial,sans-serif;
   font-size: 13px;
}

figure {
   float: left;
   width: 130px;
   margin: -16px 12px 33px 14px;
   padding-top: 4px;
}

.content1 {
   position: relative;
   bottom: 610px;
   margin-left: 23px;
}

.price {
   color: #114165;
   font-family: Arial;
   font-size: 16px;
   font-weight: bold;
   font-style: italic;
   text-align: center;
}

figure em {
   font-size: 12px;
   padding-left: 5px;
   margin-bottom: -2px;
}

figure figcaption:nth-child(1) {
   color: #1f2528;
   font-size: 13px;
}

.name {
   color: #206988;
   font-size: 15px;
   font-family:'Lucida Sans Unicode', Arial,sans-serif;
   font-style: normal;
   margin-bottom: -2px;
   font-weight: 900;
}

figcaption {
   text-align: center;
   margin-bottom: -2px;
   line-height: 15px;
   padding: 2px;
   margin-left: 5px;
}


.aside2 p {
   width: 136px;
   height: 28px;
   font-size: 14px;
   color: #114165;
   background-color: white;
   border-radius: 17px;
   border: 1px solid #79878d;
   box-shadow: 1.5px 2.6px 3px rgba(150,150,150,0.75);
   padding-left: 30px;
   line-height: 15px;
   margin-top: 8px;
   padding-top: 7px;
}


.aside2 h3 {
   font-size: 14px;
   padding-bottom: 5px;
   font-family:'Lucida Sans Unicode', Arial,sans-serif;
   color:#0c3256;
}

.aside2 {
   position: relative;
   bottom: 1247px;
   left: 552px;
   line-height: 30px;
}

.class {
   position: relative;
   bottom: 36px;
   left: -17px;
}


.choose {
   background-image: url(../img/choose.png);
   background-repeat: no-repeat;
   background-position: left;
}

.choose a {
   text-decoration: none;
}

.choose  {
   font-size: 11px;
   margin-top: 8px;
   margin-left: 10px;
}

.shunu_item1 a {
   font-size: 13px;
   font-family: 'Lucida Sans Unicode', Arial,sans-serif;
   color: #465961;
   font-weight: bold;
   margin: 3px;
   margin-right: 250px;
   line-height: 2px;
   margin-left: -115px;
}

.shunu_item1 a:before {
   content: "  ";
   background-image: url(../img/box.png);
   background-size: 7px;
   background-repeat: no-repeat;
   background-position: center;
   padding: 7px;
   margin-right: 7px;
}

.shunu_item1 a:hover {
   font-style: italic;
   text-decoration: underline;
   font-family: Arial;
   font-weight: bold;
}

.disks_item1 a {
   font-size: 13px;
   font-family: 'Lucida Sans Unicode', Arial,sans-serif;
   color: #465961;
   font-weight: bold;
   margin: 3px;
   margin-right: 250px;
   line-height: 2px;
   margin-left: -115px;
}

.disks_item1 a:hover {
   font-style: italic;
   text-decoration: underline;
   font-family: Arial;
   font-weight: bold;
}

.disks_item1 a:before {
   content: "  ";
   background-image: url(../img/box.png);
   background-size: 7px;
   background-repeat: no-repeat;
   background-position: center;
   padding: 7px;
   margin-right: 7px;
}

.aside2  .choose  {
   color: #e5e9ea;
   padding-left: 14px;
   padding: 4px;
}

footer .logos {
   position: relative;
   bottom: 1747px;
   left: 160px;
   padding: 4px;
}

footer .logos img {
   padding: 4px;
}

.footer1 {
   position: relative;
   bottom: 1734px;
   left: 45px;
}

.foot a {
   color: black;
   font-family: Arial;
   font-size: 12px;
   padding-left: 6px;
   padding-right: 6px;
}

.foot {
   position: relative;
   bottom: 1840px;
   left: 230px;
}

.foot_item2 a {
   color: #bec6c9;
   padding: 8px;
   padding-top: 13px;
   padding-right: 8px;
}

.foot_item2 a:hover {
   color: #52abcb;
}

.end {
   font-size: 10px;
   color: #7f4740;
   position: relative;
   bottom: 1832px;
   left: 420px;
}


aside p {
   background-image: url(../img/circles.png);
   background-position: left 1px;            
   background-repeat: no-repeat;
}

.aside2 p {
   background-image: url(../img/circles.png);
   background-position: left 1px;            
   background-repeat: no-repeat;
}



aside h4 {
   background-image: url(../img/paper.png);
   background-repeat: no-repeat;
}


.shun {
   position: relative;
   bottom: 30px;
}


.foot_menu a:after {
   content: "|";
   padding-left: 4px;
}

.logos .log8 {
   padding-bottom: 10px;
}

.logos .log7 {
   padding-bottom: 10px;
}
.logos .log5 {
   padding-bottom: 10px;
}

.logos .log2 {
   padding-bottom: 10px;
}








































































